<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./node_modules/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="./node_modules/backbone/backbone-min.js"></script>
  <script type="text/javascript" src="./app.js" defer></script>
  <title>かんたんATM検索</title>
</head>

<body>
  <!-- <h1>Tasks</h1>

  <form action="" id="addTask">
    <input type="text" id="title">
    <input type="submit" value="add">
    <span id="error"></span>
  </form>

  <div id="tasks"></div>

  <p>Tasks left <span id="count"></span></p>

  <script type="text/template" id="task-template">
    <input type="checkbox" class="toggle" <%- completed ? 'checked' : '' %>>
    <span class="<%= completed ? 'completed' : '' %>">
      <%- title %>
    </span>
    <span class="delete">[x]</span>
  </script> -->
</body>

</html>
